body {
    line-height: 2;
}


header,
nav {
    /* Set padding and margin */
    padding: 10px 5px 15px 20px;
    margin: 5px 5px 5px 5px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: rgb(0, 149, 255);
    font-size: 30pt;
}

nav a {
    text-decoration: none;
}

a:visited {
    color: black;

}

nav a.current {
    text-decoration: underline wavy;
    text-transform: uppercase;
    text-underline-offset: 10px;
}

h1 {
    /*Set font and font size*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 48pt;
}

h2 {
    /*Set font, font size, and alignment*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
}

h3 {
    /*Set font size*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

h1,
h2,
h3 {
    /*Set margin */
    margin: 15px;

}

.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;

}

.grid div {
    /* Set border properties, padding, and background color */
    border: 3px solid black;
    border-radius: 20px;
    grid-gap: 10px;

}

.grid img {
    /* Set width, margin, and display */
    display: block;
    width: 90%;
    margin: 0 auto;
}


.grid div:nth-child(3n+1) {
    /* Set box shadow */
}

.grid div:nth-child(3n) {
    /* Set box shadow */
}

.grid div:nth-child(3n+2) {
    /* Set box shadow */
}


p+p {
    /* Set indentation */
}

p {
    /* Set margin */
}


.grid ul li {
    /* Set margin, line-spacing, list styling  */
}